<h1> Issue Log </h1>
<table style="width:100%">
  <tr>
    <th>Issue ID</th>
    <th>Title</th> 
    <th>User</th>
    <th>Description</th>
    <th>Location</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  
<% @issues.each do |issue|%>
  <tr>
    <td> <%= issue.id%> </td>
    <td> <%= link_to issue.title, issue_path(issue) %> </td>
    <td> <%= link_to issue.user_id, user_path(User.find(issue.user_id)) %> </td>
    <td> <%= issue.description %> </td>
    <td> <%= issue.location %> </td>
    <td> <%= link_to "Edit", edit_issue_path(issue) %> </td>
    <td> <%= link_to "Delete", issue_path(issue), method: :delete,
                                                    data: {confirm: "Are you sure you want to delete this Issue?"} %> </td> 
  </tr>
  <% end %>

</table>