<h1> Add New Issue </h1>

<%= form_for :issue, url: issues_path do |form| %>
  <!--Title-->
  <p> 
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

 <!--Description-->
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <!--Location-->
  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>

<!--Issue Image-->  
  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
  </p>

<!--User-->
  <p>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </p>

  <!--Type-->
  <p>
    <%= form.radio_button :type, 'HrlIssue', :checked => true %>
    <%= label :type_hrl, 'HRL' %>
    <%= form.radio_button :type, 'EamIssue' %>
    <%= label :type_eam, 'EAM' %>
    <%= form.radio_button :type, 'SnIssue' %>
    <%= label :type_sn, 'SN' %>
    <%= form.radio_button :type, 'PtIssue' %>
    <%= label :type_pt, 'PT' %>
    <%= form.radio_button :type, 'DiningIssue' %>
    <%= label :type_dining, 'Dining' %>
  </p>
<% end %>

<h3>Details</h3>
<table style="width:100%">
  <tr>
    <th>One</th>
    <th>Two</th>
  </tr>

