<h1> New HRL Issue </h1>

<%= form_for :issue, url: issues_path do |form| %>
    <!--Campus--> 
    <p> 
        <%= form.label :campus %><br>
        <%= form.text_field :campus %>
    </p>

    <!--Area-->
        <%= form.label :area %><br>
        <%= form.text_field :area %>
    </p>

    <!--Specific Location-->
        <%= form.label :area %><br>
        <%= form.text_field :area %>
    </p>

<% end %>