<h2> Title: <%= @issue.title %> </h2>
<p> Description: <%= @issue.description %></p>
<p> Image URL: <%= @issue.image %></p>
<p> Location: <%= @issue.location %></p>
<p> User: <%= @issue.user %></p>
<p> User Image: <%= @issue.user_image %> </p>
<p> Date: <%= @issue.date %></p>
<p> Time: <%= @issue.time %></p>