<h2> <%= @issue.title %> </h2>
<p> <%= @issue.description %></p>
<p> <%= @issue.image %></p>
<p> <%= @issue.location %></p>
<p> <%= @issue.user %></p>
<p> <%= @issue.user_image %> </p>
<p> <%= @issue.date %></p>
<p> <%= @issue.time %></p>