<h1> <%= @user.name%> </h1> 
<p> NetID: <%= @user.netid %> </p>
<p> ID: <%= @user.id %> </p>

<p> Phone Number: <%= @user.phone %></p>
<p> User Picture: <%= @user.picture %></p>

<p> <%= link_to "Edit User", edit_user_path(@user) %> &nbsp; &nbsp;
<%= link_to "Delete User", user_path(@user), method: :delete,
                                                    data: {confirm: "Are you sure you want to delete this User?"} %>


<h3> Issues Reported by User "<%= @user.name%>" </h3>
<table style="width:100%">
  <tr>
    <th>Issue ID</th>
    <th>Issue Type</th>
    <th>Title</th> 
    <th>User ID</th>
    <th>Description</th>
    <th>Location</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  
<% @issues.each do |issue|%>
  <tr>
    <td> <%= issue.id%> </td>
    <td> <%= issue.type%> </td>
    <td> <%= link_to issue.title, issue_path(issue) %> </td>
    <td> <%= issue.user_id %> </td>
    <td> <%= issue.description %> </td>
    <td> <%= issue.location %> </td>
    <td> <%= link_to "Edit", edit_issue_path(issue) %> </td>
    <td> <%= link_to "Delete", issue_path(issue), method: :delete,
                    data: {confirm: "Are you sure you want to delete this Issue?"} %> </td> 
  </tr>
  <% end %>

</table>