<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <ul>
      <li><a href='/issues'>Issue Log</a></li>
      <li><a href='/issues/new'>New Issue</a></li>
      <li><a href='/users'>User Log</a></li>
      <li><a href='/users/new'>New User</a></li>
      <li><a href = '/comments'>Comment Log</a></li>
      <li><a href='/comments/new'>New Comment</a></li>
    </ul>

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #bbbbbb;
      }
      </style>

  
  <body>
    <%= yield %>
  </body>
</html>


